# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment
venv/

# Ignore result file
results/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment files
.env

# Ignore compiled files
*.class
*.o